extends layout

block content
  h1= title
  p Bienvenido a #{title}
  div 
    p Contenido: #{content}
  div 
    div
      a(href="/videos/1") Video 1 
    div   
      a(href="/videos/2") Video 2
    div   
      a(href="/getServerIP") HELPER: getServerIP  
    div 
      p Scooby-Doo T001 
      div
        a(href="/videos/3") ScoobyDoo - E001 - T01
      div
        a(href="/videos/4") ScoobyDoo - E002 - T01
      div
        a(href="/videos/5") ScoobyDoo - E003 - T01
      div
        a(href="/videos/6") ScoobyDoo - E004 - T01
