doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div
    ul
      li
        a(href="/") Home - ReFlix 📹🎞
      li
        a(href="/Usuarios") Usuarios
      li
        a(href="/Nosotros") Nosotros
      li 
        a(href="/Videos") Videos     
    block content
